{% set page_title = _("Sent Messages") %}

{% extends theme("message/message_layout.html") %}
{% block message_content %}
<div id="vf" class="vfx">

    <h2 class="forum-title"><span>{{ page_title }}</span></h2>

    <div class="row vfx-header">
        <div class="col-md-2 col-sm-2 col-xs-2">{% trans %}To{% endtrans %}</div>
        <div class="col-md-4 col-sm-4 col-xs-4">{% trans %}Subject{% endtrans %}</div>
        <div class="col-md-2 col-sm-2 col-xs-2">{% trans %}Date{% endtrans %}</div>
        <div class="col-md-4 col-sm-4 col-xs-4">{% trans %}Options{% endtrans %}</div>
    </div>


    {% for message in messages %}
    <div class="row vfx-content">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="msg-icon msg-icon-read pull-left"></div>

            {% if message.to_user %}
            <a href="{{ url_for('user.profile', username=message.to_user.username) }}">{{ message.to_user.username }}</a>
            {% else %}
            [{% trans %}deleted{% endtrans %}]
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <a href="{{ url_for('user.view_message', message_id=message.id) }}">{{ message.subject }}</a>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            {{ message.date_created|time_since }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <a href="{{ url_for('user.move_message', message_id=message.id) }}">{% trans %}Delete{% endtrans %}</a>
        </div>
    </div>
    {% else %}
    <div class="row vfx-content">
        <div class="col-md-4 col-sm-4 col-xs-4">{% trans %}This message folder is empty.{% endtrans %}</div>
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-md-2 col-sm-2 col-xs-2">-</div>
        <div class="col-md-4 col-sm-4 col-xs-4">-</div>
    </div>
    {% endfor %}

</div>
{% endblock %}
