{% set page_title = "Trash" %}

{% extends theme("message/message_layout.html") %}
{% block message_content %}
<div id="vf" class="vfx">

    <h2 class="forum-title"><span>{{ page_title }}</span></h2>

    <div class="row vfx-header">
        <div class="col-md-2 col-sm-2 col-xs-2">To</div>
        <div class="col-md-4 col-sm-4 col-xs-4">Subject</div>
        <div class="col-md-2 col-sm-2 col-xs-2">Date</div>
        <div class="col-md-4 col-sm-4 col-xs-4">Options</div>
    </div>


    {% for message in messages %}
    <div class="row vfx-content">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="msg-icon msg-icon-read pull-left"></div>

            {% if message.to_user %}
            <a href="{{ url_for('user.profile', username=message.to_user.username) }}">{{ message.to_user.username }}</a>
            {% else %}
            (No User)
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            {% if message.subject %}
            <a href="{{ url_for('user.view_message', message_id=message.id) }}">{{ message.subject }}</a>
            {% else %}
            (No Subject)
            {% endif %}
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            {{ message.date_created|time_since }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">
            <a href="{{ url_for('user.restore_message', message_id=message.id) }}">Restore</a> |
            <a href="{{ url_for('user.move_message', message_id=message.id) }}">Delete</a>
        </div>
    </div>
    {% else %}
    <div class="row vfx-content">
        <div class="col-md-4 col-sm-4 col-xs-4">This message folder is empty.</div>
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-md-2 col-sm-2 col-xs-2">-</div>
        <div class="col-md-4 col-sm-4 col-xs-4">-</div>
    </div>
    {% endfor %}

</div>
{% endblock %}
