<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        {% block title %}
            {%- if not page_title -%}
                {{ flaskbb_config["PROJECT_TITLE"] }} - {{ flaskbb_config["PROJECT_SUBTITLE"] }}
            {%- else -%}
                {{ page_title }} - {{ flaskbb_config["PROJECT_TITLE"] }}
            {%- endif -%}
        {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="FlaskBB is a forum software written in Flask">
        <meta name="author" content="FlaskBB Team">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ theme_static('style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}">
        {% endblock %}

        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Telex" rel="stylesheet" type="text/css">

    </head>

    <body id="site-forum">
        <div class="container">
        {% block navigation %}
            {%- from theme("macros.html") import topnav with context -%}
            <header id="brdheader">

                <div id="brdtitle">
                    <h1 class="forum-title">{{ flaskbb_config["PROJECT_TITLE"] }}</h1>
                    <div class="forum-desc"><p>{{ flaskbb_config["PROJECT_SUBTITLE"] }}</p></div>
                </div>

                <div id="brdmenu">

                {% if current_user.is_authenticated() %}
                    <div class="avatar">
                        <img src="{{ current_user.avatar }}" alt="" />
                    </div>

                    <nav class="menu">

                        <h3 class="username pull-left">
                            <a href="{{ url_for('user.profile', username=current_user.username) }}">{{ current_user.username }}</a>
                            <a href="{{ url_for('user.settings') }}"><span class="edit-profile">Settings</span></a>
                        </h3>

                        <ul class="nav nav-pills pull-right">
                            {{ topnav(endpoint="user.inbox", name="Private Messages", icon="fa fa-envelope") }}
                            {{ topnav(endpoint="forum.topictracker", name="Topic Tracker", icon="fa fa-book") }}
                        </ul>

                    </nav>
                {% else %}
                <nav class="menu">

                    <ul class="nav nav-pills pull-right">
                        {{ topnav(endpoint="auth.login", name="Login", icon="fa fa-user") }}
                        {{ topnav(endpoint="auth.register", name="Register", icon="fa fa-user") }}
                    </ul>

                </nav>
                {% endif %}

                </div>

            </header>

            <div id="brdwelcome" class="clearfix">

                <ul class="nav nav-pills pull-left">
                    {{ emit_event("before-first-navigation-element") | safe }}

                    {{ topnav(endpoint='forum.index', name='Index', icon='fa fa-comment', active=active_forum_nav) }}
                    {{ topnav(endpoint='forum.memberlist', name='User list', icon='fa fa-user') }}
                    {{ topnav(endpoint='forum.search', name='Search', icon='fa fa-search') }}

                    {% if current_user and current_user.is_authenticated() %}

                        {% if current_user|is_admin_or_moderator %}
                            {{ topnav(endpoint='management.overview', name='Administration', icon='fa fa-cog') }}
                        {% endif %}

                        {{ topnav(endpoint="auth.logout", name="Logout", icon="fa fa-power-off") }}

                    {% endif %}

                    {{ emit_event("after-last-navigation-element") | safe }}
                </ul>
            </div>

            {% endblock %}


            {% block messages %}
                {% include theme('flashed_messages.html') %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            <footer id="brdfooter" class="clearfix">

                <div id="brdfooternav" class="pull-left">
                    <p id="poweredby">powered by <a href="http://flask.pocoo.org">Flask</a></p>
                </div>

                <div class="pull-right">
                    <p id="poweredby">&copy; 2014 - <a href="http://flaskbb.org/">FlaskBB</a> 0.1-dev</p>
                </div>

            </footer>

        </div>

        {% block javascript %}
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </body>

</html>
