{% set page_title = "Login" %}

{% extends theme("layout.html") %}
{% from theme("macros.html") import horizontal_field %}
{% block content %}

<form class="form-horizontal" role="form" method="POST">
    <h2>Login</h2>
    <hr>
    {{ form.hidden_tag() }}
    {{ horizontal_field(form.login)}}
    {{ horizontal_field(form.password)}}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <div class="checkbox">
                <label>
                    {{ form.remember_me }} Remember Me
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <a class="pull-left" href="{{ url_for('auth.register') }}"><small>Not a member yet?</small></a>
            <a class="pull-right" href="{{ url_for('auth.forgot_password') }}"><small>Forgot Password?</small></a>
        </div>
    </div>
</form>

{% endblock %}
