{% extends theme('layout.html') %}
{% from theme('macros.html') import render_pagination %}

{% block content %}
<div id="brdmain">

    <!-- Top -->
    <div id="brdtop">
        <div class="inbox clearfix">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
                <li ><a href="{{ user.url }}">{{ user.username }}</a></li>
                <li class="active">All Posts</li>
            </ul>

            <div class="pagepost clearfix">
                {{ render_pagination(posts, url_for('user.view_all_posts', username=user.username)) }}
            </div>
        </div>
    </div>

    <!-- Middle -->
    <div id="vf" class="vfx">
        <h2 class="forum-title">
            <span>All Posts created by <a href="{{ user.url }}">{{ user.username }}</a></span>
        </h2>

        <div class="row vfx-header">
            <div class="col-md-9 col-sm-9 col-xs-9">Posts</div>
        </div>

        {% for post in posts.items %}

        <div class="row vfx-content">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <h4 class="topic-title">
                    <a href="{{ post.topic.url }}">{{ post.topic.title }}</a>
                    in <a href="{{ post.topic.forum.url }}">{{ post.topic.forum.title }}</a>
                    <span class="divider"> - </span>
                    <small>{{ post.date_created|time_since }}</small>
                </h4>
            </div>

            <div class="col-md-9 col-sm-9 col-xs-9">
                {{ post.content|markup|safe}}
            </div>
        </div>

        {% else %}

        <div class="row vfx-content">
            <div class="col-md-9 col-sm-9 col-xs-9">No Posts.</div>
        </div>

        {% endfor %}
    </div>

</div>
{% endblock %}
