{% extends theme("user/settings_layout.html") %}
{% from theme("macros.html") import horizontal_field, render_field %}

{% block settings_content %}

<div class="tab-content col-md-10 col-sm-10 col-xs-9 col-md-offset-2">
    <div class="tab-pane active">
        <form class="form-horizontal" role="form" method="POST">
            <div class="row">
                {{ form.hidden_tag() }}
                <div class="profile-personnals col-md-6 col-sm-6 col-xs-12">

                    <h4>Personnal</h4>

                    {{ horizontal_field(form.gender, label_class="col-lg-2", div_class="col-lg-10") }}
                    {{ horizontal_field(form.location, label_class="col-lg-2", div_class="col-lg-10") }}
                    {{ horizontal_field(form.website, label_class="col-lg-2", div_class="col-lg-10") }}
                    {{ horizontal_field(form.birthday, label_class="col-lg-2", div_class="col-lg-10") }}
                </div>

                <div class="profile-personnals col-md-6 col-sm-6 col-xs-12">

                    <h4>Avatar</h4>

                    {{ horizontal_field(form.avatar, label_class="col-lg-2", div_class="col-lg-10") }}

                    <div class="profile-avatar-preview col-md-offset-3 col-sm-offset-3 col-xs-offset-6">
                        <img id="previewAvatar", src="" />
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="profile-signature col-md-12 col-sm-12 col-xs-12">
                    <h4>Signature</h4>
                    {{ render_field(form.signature, with_label=False, rows="5", div_class="None") }}
                </div>
            </div>

            <div class="row">
                <div class="profile-signature col-md-12 col-sm-12 col-xs-12">
                    <h4>Notes</h4>
                    {{ render_field(form.notes, with_label=False, rows="12", div_class="None") }}
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
