{% extends theme("layout.html") %}
{%- from theme("macros.html") import topnav, navlink with context -%}
{% block navigation %}
<header id="brdheader">

    <div id="brdtitle">
        <h1 class="forum-title">{{ flaskbb_config["PROJECT_TITLE"] }}</h1>
        <div class="forum-desc"><p>{{ flaskbb_config["PROJECT_SUBTITLE"] }}</p></div>
    </div>

    <div id="brdmenu">

        <div class="avatar">
            <img src="{{ current_user.avatar }}" alt="" />
        </div>

        <ul class="nav nav-tabs profile-edit-tabs" id="profile-edit-tabs">
            {{ topnav('user.settings', 'General', id="tab-general", icon="fa fa-cog") }}
            {{ topnav('user.change_user_details', 'User Details', id="tab-userdetails", icon="fa fa-user") }}
            {{ topnav('user.change_email', 'E-Mail', id="tab-email", icon="fa fa-envelope") }}
            {{ topnav('user.change_password', 'Password', id="tab-password", icon="fa fa-asterisk") }}
            <li class="pull-right"><a href="{{ url_for('forum.index') }}" class="tip">Back to the forum</a></li>
        </ul>

    </div>

</header>


{% endblock %}

{% block content %}
<div id="brdmain">

    <div id="profile-editor" class="profile-editor clearfix">
    {% block settings_content %}{% endblock %}
    </div>
</div>
{% endblock %}

