{% set page_title = _("New Post") %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
    {{ super() }}
{% endblock %}

{% block content %}
{% from theme("macros.html") import render_quickreply, render_boolean_field, render_submit_field %}

<div id="brdmain">

    <div id="brdtop">
        <div class="inbox clearfix">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
                <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
                <li><a href="{{ topic.url }}">{{ topic.title }} </a></li>
                <li class="active">New Post</li>
            </ul>
        </div>
    </div>

    <div id="vt" class="vtx">
        <form role="form" method="POST">

            {{ form.hidden_tag() }}


            <h2 class="topic-title">{{ topic.title }}</h2>

            <div id="post-new" class="post post-new post-bg clearfix">
                <div class="author-box col-md-2">
                    <div class="author-name"><h4><a href="{{ current_user.url }}">{{ current_user.username }}</a></h4></div>
                    <div class="author-title"><h5>{{ current_user.primary_group.name }}</h5></div>

                    {% if current_user.avatar %}
                    <div class="author-avatar"><img src="{{ current_user.avatar }}" width="100" height="100" alt=""></div>
                    {% endif %}

                    <div class="author-field author-registered">{% trans %}Joined{% endtrans %}: {{ current_user.date_joined|format_date('%b %d %Y') }}</div>
                    <div class="author-field author-posts">{% trans %}Posts{% endtrans %}: {{ current_user.post_count }}</div>
                    {% if current_user.website %}
                    <div class="author-field author-website"><a href="{{ current_user.website }}" rel="nofollow">{% trans %}Website{% endtrans %}</a></div>
                    {% endif %}
                </div>

                <div class="post-box col-md-10">
                    <div class="post-meta clearfix">
                        <div class="pull-right">#{{ topic.post_count+1 }}</div>
                    </div>
                    <div class="post-content new-post-content">
                        {{ render_quickreply(form.content, div_class="new-topic-message", rows="10", cols="95", placeholder="", **{'data-provide': 'markdown', 'data-autofocus': 'true', 'id': 'quickreply-editor'}) }}
                    </div>
                    <div class="post-footer">
                        <div class="post-options">
                            <div class="col-md-8">
                                {{ render_boolean_field(form.track_topic) }}
                            </div>
                            <div class="text-right col-md-4">
                                {{ render_submit_field(form.submit) }}
                            </div>
                        </div>
                    </div>
                </div>
                {% if preview %}
                <div class="post-preview">
                    <div class="post-box col-md-10 col-md-offset-2">
                        <div class="post-meta clearfix">
                            <div class="pull-left"><h4>{% trans %}Preview{% endtrans %}</h4></div>
                        </div>
                        <div class="post-content">
                            {% autoescape false %}
                            {{ preview|markup }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

        </form>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/marked.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
{% endblock %}
