{% extends theme("layout.html") %}
{% set page_title = topic.title ~ " - Topic" %}
{% set active_forum_nav=True %}

{% block content %}
{% from theme('macros.html') import render_pagination, render_topic_pagination, render_quickreply %}


<div id="brdmain">

    <div id="brdtop">
        <div class="inbox clearfix">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
                <li><a href="{{ topic.forum.category.url }}">{{ topic.forum.category.title }}</a></li>
                <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
                <li class="active">{{ topic.title }}</li>
            </ul>
        </div>
    </div>

    <div id="vt" class="vtx">

        <h2 class="topic-title"><span>{{ topic.title }}</span></h2>

        <div class="top-navigation clearfix">
            {{ render_topic_pagination(posts, topic.url) }}

            <div class="btn-group postlink pull-right">
                {% if current_user.is_tracking_topic(topic) %}
                <a href="{{ url_for('forum.untrack_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-default"><span class="fa fa-star">
                    </span> Untrack Topic
                </a>
                {% else %}
                <a href="{{ url_for('forum.track_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-default">
                    <span class="fa fa-star"></span> Track Topic
                </a>
                {% endif %}

                {% if current_user|post_reply(topic.forum) and not (topic.locked or topic.forum.locked) %}
                <a href="{{ url_for('forum.new_post', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-primary">
                    <span class="fa fa-pencil"></span> Reply
                </a>
                {% endif %}
            </div>

            <div class="btn-group postlink pull-right">
            {% if current_user|delete_topic(topic.first_post.user_id, topic.forum) %}
                <a href="{{ url_for('forum.delete_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-danger">
                    <span class="fa fa-trash-o"></span> Delete Topic
                </a>
            {% endif %}
            {% if current_user|can_moderate(topic.forum) %}
                {% if not topic.locked %}
                    <a href="{{ url_for('forum.lock_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-warning">
                        <span class="fa fa-lock"></span> Lock Topic
                    </a>
                {% else %}
                    <a href="{{ url_for('forum.unlock_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-warning">
                        <span class="fa fa-unlock"></span> Unlock Topic
                    </a>
                {% endif %}
            {% endif %}
            </div>

        </div>


        {% for post in posts.items %}

        <div id="{{ post.id }}" class="post post-bg clearfix">

            <div class="author-box col-md-2 col-sm-2 col-xs-2">
                <!-- Registered User -->
                {% if post.user_id %}
                <div class="author-name"><h4><a href="{{ post.user.url }}">{{ post.user.username }}</a></h4></div>
                <div class="author-title"><h5>{{ post.user.primary_group.name }}</h5></div>

                {% if post.user.avatar %}
                    <div class="author-avatar"><img src="{{ post.user.avatar }}" width="100" height="100" alt=""></div>
                {% endif %}

                <div class="author-field author-registered">Joined: {{ post.user.date_joined|format_date('%b %d %Y') }}</div>
                <div class="author-field author-posts">Posts: {{ post.user.post_count }}</div>
                <div class="author-field author-email">
                    {% if current_user.is_authenticated() and post.user_id %}
                    <a href="{{ url_for('user.new_message') }}?to_user={{ post.user.username }}">PM</a>
                    {% endif %}

                    {%- if post.user|is_online %}
                    <div class="author-online"></div>
                    {%- else %}
                    <div class="author-offline"> </div>
                    {%- endif %}
                </div>
                {% if post.user.website %}
                <div class="author-field author-website"><a href="{{ post.user.website }}" rel="nofollow">Website</a></div>
                {% endif %}

                {% else %}
                <div class="author-name"><h4><a href="{{ post.user.url }}">{{ post.username }}</a></h4></div>
                <div class="author-title"><h5>Guest</h5></div>
                {% endif %}
            </div>

            <div class="post-box col-md-10 col-sm-10 col-xs-10">
                <div class="post-meta clearfix">
                    <div class="pull-left">
                        <!-- Creation date / Date modified -->
                        <a href="
                        {%- if posts.page > 1 -%}
                            {{ topic.url }}?page={{ posts.page }}#pid{{ post.id }}
                        {%- else -%}
                            {{ topic.url }}#pid{{ post.id }}
                        {%- endif -%}">
                            {{ post.date_created|format_date('%d %B %Y') }}
                        </a>
                        {% if post.user_id and post.date_modified %}
                        <small>
                            (Last modified: {{ post.date_modified|format_date }} by
                            <a href="{{ url_for('user.profile', username=post.modified_by) }}">{{ post.modified_by }}</a>.)
                        </small>
                    {% endif %}
                    </div>

                    <!-- Post number -->
                    <div class="pull-right">
                        #{%- if posts.page == 1 -%} {{ loop.index }} {%- else -%} {{ loop.index + (posts.page - 1) * flaskbb_config["POSTS_PER_PAGE"] }} {%- endif -%}
                    </div>
                </div>
                <div class="post-content post_body" id="pid{{ post.id }}">

                    {{ post.content|markup|safe }}

                </div>
                <div class="post-footer">
                    <div class="post-signature pull-left col-md-9 col-md-9 col-xs-9">

                    <!-- Signature Begin -->
                    {% if post.user_id and post.user.signature %}
                        {{ post.user.signature|markup|safe }}
                    {% endif %}
                    <!-- Signature End -->

                    </div>

                    <!-- Report/Edit/Delete/Quote Post-->
                    <div class="post-menu pull-right col-md-3 col-sm-3 col-xs-3 ">

                    {% if current_user|post_reply(topic.forum) and not (topic.locked or topic.forum.locked) %}
                    <!-- Quick quote -->
                        <a href="#" class="tip btn post-quote quote_btn" data-placement="top" data-post-id="pid{{ post.id }}" title="" data-original-title="Quote this post"></a>
                    <!-- Full quote/reply -->
                        <a href="{{ url_for('forum.reply_post', topic_id=topic.id, post_id=post.id) }}" class="tip btn post-reply-all quote_btn" data-placement="top" title="" data-original-title="Full Reply"></a>
                    {% endif %}

                    {% if current_user|edit_post(post.user_id, topic.forum) %}
                    <!-- Edit Post -->
                    <a href="{{ url_for('forum.edit_post', post_id=post.id) }}" class="tip btn post-edit" data-placement="top" title="" data-original-title="Edit this post"></a>
                    {% endif %}
                    {% if topic.first_post_id == post.id %}
                        {% if current_user|delete_topic(topic.first_post.user_id, topic.forum) %}
                        <a href="{{ url_for('forum.delete_topic', topic_id=topic.id, slug=topic.slug) }}" class="tip btn post-delete" data-placement="top" title="" data-original-title="Delete this topic"></a>
                        {% endif %}
                    {% else %}
                        {% if current_user|delete_post(post.user_id, topic.forum) %}
                    <!-- Delete Post -->
                        <a href="{{ url_for('forum.delete_post', post_id=post.id) }}" class="tip btn post-delete" data-placement="top" title="" data-original-title="Delete this post"></a>
                        {% endif %}

                    {% endif %}

                    {% if current_user.is_authenticated() %}
                    <!-- Report post -->
                        <a href="{{ url_for('forum.report_post', post_id=post.id) }}" onclick="window.open(this.href, 'wio_window','width=500,height=500'); return false;" class="tip btn post-report" data-placement="top" title="Report this post" data-original-title="Report this post"></a>
                    {% endif %}

                    </div>

                </div>
            </div>
        </div>

        {% endfor %}

        <div id="brdbottom">
            <div class="inbox">
                <div class="pagepost clearfix">
                    {{ render_pagination(posts, topic.url) }}

                    <div class="btn-group postlink pull-right">
                        {% if current_user.is_tracking_topic(topic) %}
                        <a href="{{ url_for('forum.untrack_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-default"><span class="fa fa-star">
                            </span> Untrack Topic
                        </a>
                        {% else %}
                        <a href="{{ url_for('forum.track_topic', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-default">
                            <span class="fa fa-star"></span> Track Topic
                        </a>
                        {% endif %}

                        {% if current_user|post_reply(topic.forum) and not (topic.locked or topic.forum.locked) %}
                        <a href="{{ url_for('forum.new_post', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-primary">
                            <span class="fa fa-pencil"></span> Reply
                        </a>
                        {% endif %}
                    </div>

                </div>

                <ul class="breadcrumb">
                    <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
                    <li><a href="{{ topic.forum.category.url }}">{{ topic.forum.category.title }}</a></li>
                    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
                    <li class="active">{{ topic.title }}</li>
                </ul>
            </div>
        </div>

    </div>

    {% if form %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <div id="quickpost" class="post post-bg clearfix">
            <div class="author-box col-md-2 col-sm-2 col-xs-2">
                <div class="author-name"><h4>Quick reply</h4></div>
            </div>
            <div class="post-box col-md-10 col-sm-10 col-xs-10">
                <div class="post-content reply-content">
                    {{ render_quickreply(form.content, div_class="new-message", rows=7, cols=75) }}
                </div>
            </div>
            <div class="new-post-submit col-md-offset-2">
                <div class="post-options pull-left">
                    <span class="label label-success">BBCode</a></span>
                    <span class="label label-success">[url] tag</a></span>
                    <span class="label label-danger">[img] tag</a></span>
                    <span class="label label-success">Smilies</a></span>
                </div>
                <input class="btn btn-success pull-right" type="submit" value="Submit" />
            </p>
        </div>
    </form>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/topic.js') }}"></script>
{% endblock %}
