{% set page_title = _("%(title)s - Topic", title=topic.title) %}
{% set active_forum_nav=True %}

{% extends theme("layout.html") %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-markdown.min.css') }}">
    {{ super() }}
{% endblock %}

{% block content %}
{% from theme('macros.html') import render_pagination, render_topic_pagination, render_quickreply, render_submit_field %}

<div id="brdmain">

    <div id="brdtop">
        <div class="inbox clearfix">
            <ul class="breadcrumb">
                <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
                <li><a href="{{ topic.forum.category.url }}">{{ topic.forum.category.title }}</a></li>
                <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
                <li class="active">{{ topic.title }}</li>
            </ul>
        </div>
    </div>

    <div id="vt" class="vtx">

        <h2 class="topic-title"><span>{{ topic.title }}</span></h2>

        <div class="top-navigation clearfix">
            {{ render_topic_pagination(posts, topic.url) }}

            {% include theme("forum/topic_controls.html") %}
        </div>


        {% for post, user in posts.items %}

        <div id="{{ post.id }}" class="post post-bg clearfix">

            <div class="author-box col-md-2 col-sm-2 col-xs-2">
                <!-- Registered User -->
                {% if post.user_id %}
                <div class="author-name"><h4><a href="{{ user.url }}">{{ user.username }}</a></h4></div>
                <div class="author-{%- if user|is_online -%}online{%- else -%}offline{%- endif -%}"></div>

                <div class="author-title"><h5>{{ user.primary_group.name }}</h5></div>

                {% if user.avatar %}
                    <div class="author-avatar"><img src="{{ user.avatar }}" width="100" height="100" alt=""></div>
                {% endif %}

                <div class="author-field author-registered">{% trans %}Joined{% endtrans %}: {{ user.date_joined|format_date('%b %d %Y') }}</div>
                <div class="author-field author-posts">{% trans %}Posts{% endtrans %}: {{ user.post_count }}</div>
                <div class="author-field author-email">
                    {% if current_user.is_authenticated() and post.user_id %}
                    <a href="{{ url_for('user.new_message') }}?to_user={{ user.username }}">{% trans %}PM{% endtrans %}</a>
                    {% endif %}
                </div>
                {% if user.website %}
                <div class="author-field author-website"><a href="{{ user.website }}" rel="nofollow">{% trans %}Website{% endtrans %}</a></div>
                {% endif %}

                {% else %}
                <div class="author-name"><h4><a href="{{ user.url }}">{{ post.username }}</a></h4></div>
                <div class="author-title"><h5>{% trans %}Guest{% endtrans %}</h5></div>
                {% endif %}
            </div>

            <div class="post-box col-md-10 col-sm-10 col-xs-10">
                <div class="post-meta clearfix">
                    <div class="pull-left">
                        <!-- Creation date / Date modified -->
                        <a href="
                        {%- if posts.page > 1 -%}
                            {{ topic.url }}?page={{ posts.page }}#pid{{ post.id }}
                        {%- else -%}
                            {{ topic.url }}#pid{{ post.id }}
                        {%- endif -%}">
                            {{ post.date_created|format_date('%d %B %Y') }}
                        </a>
                        {% if post.user_id and post.date_modified %}
                        <small>
                            (Last modified: {{ post.date_modified|format_date }} by
                            <a href="{{ url_for('user.profile', username=post.modified_by) }}">{{ post.modified_by }}</a>.)
                        </small>
                    {% endif %}
                    </div>

                    <!-- Post number -->
                    <div class="pull-right">
                        #{%- if posts.page == 1 -%} {{ loop.index }} {%- else -%} {{ loop.index + (posts.page - 1) * flaskbb_config["POSTS_PER_PAGE"] }} {%- endif -%}
                    </div>
                </div>
                <div class="post-content post_body" id="pid{{ post.id }}">

                    {{ post.content|markup|safe }}

                </div>
                <div class="post-footer">
                    <div class="post-signature pull-left col-md-9 col-md-9 col-xs-9">

                    <!-- Signature Begin -->
                    {% if post.user_id and user.signature %}
                        {{ user.signature|markup|safe }}
                    {% endif %}
                    <!-- Signature End -->

                    </div>

                    <!-- Report/Edit/Delete/Quote Post-->
                    <div class="post-menu pull-right col-md-3 col-sm-3 col-xs-3 ">

                    {% if current_user|post_reply(topic) %}
                    <!-- Quick quote -->
                        <a href="#" class="tip btn post-quote quote_btn" data-placement="top" data-post-id="{{ post.id }}" title="" data-original-title="Quote this post"></a>
                    <!-- Full quote/reply -->
                        <a href="{{ url_for('forum.reply_post', topic_id=topic.id, post_id=post.id) }}" class="tip btn post-reply-all" data-placement="top" title="" data-original-title="Full Reply"></a>
                    {% endif %}

                    {% if current_user|edit_post(post) %}
                    <!-- Edit Post -->
                    <a href="{{ url_for('forum.edit_post', post_id=post.id) }}" class="tip btn post-edit" data-placement="top" title="" data-original-title="Edit this post"></a>
                    {% endif %}
                    {% if topic.first_post_id == post.id %}
                        {% if current_user|delete_topic(topic) %}
                        <form class="inline-form" method="post" action="{{ url_for('forum.delete_topic', topic_id=topic.id, slug=topic.slug) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button class="tip btn post-delete" data-placement="top" title="" data-original-title="Delete this topic"></button>
                        </form>
                        {% endif %}
                    {% else %}
                        {% if current_user|delete_post(post) %}
                    <!-- Delete Post -->
                        <form class="inline-form" method="post" action="{{ url_for('forum.delete_post', post_id=post.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button  class="tip btn post-delete" data-placement="top" title="" data-original-title="Delete this post"></button>
                        </form>
                        {% endif %}

                    {% endif %}

                    {% if current_user.is_authenticated() %}
                    <!-- Report post -->
                        <a href="{{ url_for('forum.report_post', post_id=post.id) }}" onclick="window.open(this.href, 'wio_window','width=500,height=500'); return false;" class="tip btn post-report" data-placement="top" title="Report this post" data-original-title="Report this post"></a>
                    {% endif %}

                    </div>

                </div>
            </div>
        </div>

        {% endfor %}

        <div id="brdbottom">
            <div class="inbox">
                <div class="pagepost clearfix">
                    {{ render_pagination(posts, topic.url, ul_class="pagination pagelink pull-left") }}

                    {% if current_user.is_authenticated() %}
                        <div class="postlink pull-right">
                            {% if current_user.is_tracking_topic(topic) %}
                            <form class="inline-form" method="post" action="{{ url_for('forum.untrack_topic', topic_id=topic.id, slug=topic.slug) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button class="btn btn-default">
                                    <span class="fa fa-tag" aria-hidden="true"></span> {% trans %}Untrack Topic{% endtrans %}
                                </button>
                            </form>
                            {% else %}
                            <form class="inline-form" method="post" action="{{ url_for('forum.track_topic', topic_id=topic.id, slug=topic.slug) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <button class="btn btn-default">
                                    <span class="fa fa-tag" aria-hidden="true"></span> {% trans %}Track Topic{% endtrans %}
                                </button>
                            </form>
                            {% endif %}

                            {% if current_user|post_reply(topic) %}
                            <a href="{{ url_for('forum.new_post', topic_id=topic.id, slug=topic.slug) }}" class="btn btn-primary">
                                <span class="fa fa-pencil"></span> {% trans %}Reply{% endtrans %}
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

                <ul class="breadcrumb">
                    <li><a href="{{ url_for('forum.index') }}">{% trans %}Forum{% endtrans %}</a></li>
                    <li><a href="{{ topic.forum.category.url }}">{{ topic.forum.category.title }}</a></li>
                    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
                    <li class="active">{{ topic.title }}</li>
                </ul>
            </div>
        </div>

    </div>

    {% if form %}

    <form method="POST">
        {{ form.hidden_tag() }}

        <div id="quickpost" class="post post-bg clearfix">
            <div class="author-box col-md-2 col-sm-2 col-xs-2">
                <div class="author-name"><h4>{% trans %}Quick Reply{% endtrans %}</h4></div>
            </div>
            <div class="post-quickreply col-md-10 col-sm-10 col-xs-10">
                    {{ render_quickreply(form.content, div_class="new-message", rows=7, cols=75, placeholder="", **{'data-provide': 'markdown', 'data-autofocus': 'true', 'id': 'quickreply-editor'}) }}
            </div>
            <div class="new-post-submit col-md-offset-2">
                <div class="post-options pull-left">
                    <span class="label label-info">Markdown</span>
                    <a class="label label-success" href="#">help</a> <!-- TODO: add markdown cheat sheet -->
                    <a class="label label-success" href="#">emojis</a> <!-- TODO: add emoji cheat sheet -->
                </div>
                {{ render_submit_field(form.submit, input_class="btn btn-success pull-right") }}
            </p>
        </div>
    </form>
    {% endif %}

</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/topic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/marked.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-markdown.js') }}"></script>
{% endblock %}
